<!DOCTYPE html>

{% extends 'base.html' %}
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oppapp</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    
    {% block content %}
    <div class="container">

        <h1>Welcome</h1>
        {%for object in object_list%}
        <p><a href="{% url 'cmsapp:register' %}">login</a></p>

            {% endfor %}
    </div>
    {% endblock content %}
   
    
</body>
</html>