body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {

    background-color: rgb(5, 5, 5);
    color: white;
    padding: 20px;
    min-height: 50px;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

nav a {
    text-decoration: none;
    color: white;
    padding: 20px;
}

nav a:hover {
    color: #ffd209;
}

main {
    width: 68%;
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
}

.aboutself h1 {
    text-align: center;
    font-size: 34px;
}

#abouttxt {
    font-size: 20px;

}

.aboutself {
    text-align: justify;
}

#myimg {
    float: right;
    margin-left: 10px;


}

#avatar {

    height: 200px;
    width: 200px;
    border-radius: 20px;
    border: 4px solid rgb(12, 122, 165);

}

.aboutself {
    box-shadow: 4px 4px 4px 4px rgb(184, 176, 176);
    padding: 28px;
    margin-top: 40px;
    border-radius: 6px;
}

.listings {
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;

}

.listh3 {
    background-color: rgb(12, 122, 165);
    color: #FFFFFF;
    padding: 8px;
}

.ablist {
    flex: 3;
    box-shadow: 4px 4px 4px 4px rgb(184, 176, 176);
    padding: 28px;
    margin-top: 20px;
    border-radius: 6px;
    margin-left: 5px;
    margin-right: 5px;
}

#contactmebtn {
    background-color: black;
    border-radius: 50px;
    height: 80px;
    min-width: 100%;
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 28px;
    color: white;
    cursor: pointer;
    border: none;
}

#contactmebtn a {
    text-decoration: none;
    color: white;
}

#contactmebtn:hover {
    background-color: rgb(12, 122, 165);
}

.contain {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 60px;
    margin-right: 60px;
}

.contform {
    text-align: justify;
    margin-top: 50px;
    margin-bottom: 100px;
    box-shadow: 4px 4px 4px 4px rgb(184, 176, 176);
    border-radius: 10px;
    font-size: 20px;
    padding: 40px;
}

.contitem {
    margin-bottom: 10px;
    width: 300px;
}

#contname,
#contemail {
    border-radius: 20px;
    background-color: rgb(247, 240, 232);
    padding-left: 6px;
    padding-right: 6px;
    height: 32px;
    margin-right: 10px;
    font-size: 16px;
}

textarea.contitem {
    border-radius: 10px;
    font-size: 16px;

}

#contsubmit {

    height: 46px;
    border-radius: 30px;
    background-color: black;
    color: #FFFFFF;
    padding: 6px;
    font-size: 20px;
    width: 310px;
    cursor: pointer;
    border: none;
}

#contsubmit:hover {
    background-color: rgb(12, 122, 165);
}

.logform {
    text-align: justify;
    margin-top: 50px;
    margin-bottom: 100px;
    box-shadow: 4px 4px 4px 4px rgb(184, 176, 176);
    border-radius: 10px;
    font-size: 20px;
    padding: 40px;
}

.logitem {
    font-size: 20px;
    margin-bottom: 15px;
    border-radius: 15px;
    width: 300px;
}

#logemail,
#logpass {
    background-color: rgb(247, 240, 232);
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 20px;
    height: 32px;
}

#logsubmit {
    background-color: black;
    color: #FFFFFF;
    padding: 6px;
    height: 46px;
    width: 314px;
    border-radius: 30px;
    cursor: pointer;
    border: none;
}

#logsubmit:hover {
    background-color: rgb(12, 122, 165);
}

.regform {


    text-align: justify;
    margin-top: 50px;
    margin-bottom: 100px;
    box-shadow: 4px 4px 4px 4px rgb(184, 176, 176);
    border-radius: 10px;
    font-size: 20px;
    padding: 40px;
}

.regitem {
    font-size: 22px;
    margin-bottom: 15px;
    border-radius: 20px;
    width: 300px;
    height: 32px;
}

#regfname,
#reglname,
#regtel,
#regstate,
#regemail,
#regpass,
#regrepass,
#regcountry {
    background-color: rgb(247, 240, 232);
    padding-left: 6px;
    padding-right: 6px;
}

#reggender {
    width: 314px;
    height: 40px;
    background-color: rgb(247, 240, 232);
}
#reggender:enabled{
    background-color: #E8F0FE;
}

#regsubmit {
    width: 314px;
    height: 46px;
    border-radius: 50px;
    background-color: black;
    color: #FFFFFF;
    font-size: 22px;
    cursor: pointer;
    border: none;
}

#regsubmit:hover {
    background-color: rgb(12, 122, 165);
}

footer {
    background-color: rgb(5, 5, 5);
    color: #FFFFFF;
    text-align: center;
    padding: 2px;
    font-size: 20px;

}