<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>My post</h1>
    {% comment %} <form  method="POST">
        {% csrf_token %}
       
        {{ form.as_p }}
        <input type="submit" value="enter">
    </form>  {% endcomment %}
    {% for object in object_list%}
    <li> {{ object.topic}} </li>
    <li> {{ object.body}} </li>
    
    <hr/>

    {%empty%}
    <li> No object yet </li>
     {% endfor %} 
</body>
</html>



